/* Feature Box */
.phModParticlesFeatureBox {
   /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
    max-width: 960px;
    margin: 0 auto 30px;*/

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center; no equal height */
    align-content: center;
}


.phModParticlesFeatureBox .phModParticlesItem {
    position: relative;
    padding: 1em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 17em;

}


.phModParticlesFeatureBox .phModParticlesIcon {
    font-size: 5em;
}
.phModParticlesFeatureBox .phModParticlesSvg svg {
    height: 5em;
}

.phModParticlesFeatureBox .phModParticlesTitle {
	font-size: 150%;
	/*flex-grow: 1;*/
    margin-top: 0em;
    font-weight: bold;
}

.phModParticlesFeatureBox .phModParticlesDesc {
	margin-top: 1em;
}

/* Feature Row */
.phModParticlesFeatureRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center; no equal height */
    align-content: center;
}

.phModParticlesFeatureRow .phModParticlesItem {
    position: relative;
    padding: 1em;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.phModParticlesFeatureRow .phModParticlesIcon {
    font-size: 2em;
    margin-right: 0.3em;
    font-weight: bold;
}

.phModParticlesFeatureRow .phModParticlesTitle {
    font-weight: bold;
    line-height: 1;
}

/* Image Row */
.phModParticlesImageRow {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     /*align-items: center; no equal height */
     align-content: center;
 }


.phModParticlesImageRow .phModParticlesItem {
    position: relative;
}
.phModParticlesImageRow .phModParticlesItem.pmpw25 {width: 25%;}
.phModParticlesImageRow .phModParticlesItem.pmpw33 {width: 33.33%; width: calc(100% / 3);}
.phModParticlesImageRow .phModParticlesItem.pmpw50 {width: 50%;}
.phModParticlesImageRow .phModParticlesItem.pmpw100 {width: 100%;}



.phModParticlesImageRow .phModParticlesImage {
    max-width: 100%;
    height: auto;
}

.phModParticlesImageRow .phModParticlesTitle {
    position: absolute;
    top: 68%;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    margin: 0.5rem;
    font-size: 1rem;
}

.phModParticlesImageRow .phModParticlesTitle a,
.phModParticlesImageRow .phModParticlesTitle a:hover {
    color: #fff;
}

.phModParticlesImageRow .phModParticlesDesc {
    position: absolute;
    top: 80%;
    line-height: 1;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    margin: 0.5rem;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .phModParticlesImageRow .phModParticlesDesc {
        display: none;
    }
}

/* Image Content */

.phModParticlesImageContent .phModParticlesItem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;

}
.phModParticlesImageContent .phModParticlesItem.pmpReverse {
    flex-direction: row-reverse;
}


.phModParticlesImageContent .phModParticlesItem .phModParticlesImage.pmpw40,
.phModParticlesImageContent .phModParticlesItem .phModParticlesContent.pmpw40 {
    width: 40%;
}
.phModParticlesImageContent .phModParticlesItem .phModParticlesImage.pmpw50,
.phModParticlesImageContent .phModParticlesItem .phModParticlesContent.pmpw50 {
    width: 50%;
}
.phModParticlesImageContent .phModParticlesItem .phModParticlesImage.pmpw60,
.phModParticlesImageContent .phModParticlesItem .phModParticlesContent.pmpw60 {
    width: 60%
}

@media only screen and (max-width: 768px) {
    .phModParticlesImageContent .phModParticlesItem .phModParticlesImage.pmpw40,
    .phModParticlesImageContent .phModParticlesItem .phModParticlesContent.pmpw40 {
        width: 100%;
    }
    .phModParticlesImageContent .phModParticlesItem .phModParticlesImage.pmpw50,
    .phModParticlesImageContent .phModParticlesItem .phModParticlesContent.pmpw50 {
        width: 100%;
    }
    .phModParticlesImageContent .phModParticlesItem .phModParticlesImage.pmpw60,
    .phModParticlesImageContent .phModParticlesItem .phModParticlesContent.pmpw60 {
        width: 100%
    }
}

.phModParticlesImage.pmpw40,
.phModParticlesImage.pmpw40,
.phModParticlesImage.pmpw40 {
    display: flex;
    align-items: center;
}

.phModParticlesImageContent .phModParticlesItem .phModParticlesContent {
    padding: 0;
    padding-left: 3em;
}
.phModParticlesImageContent .phModParticlesItem.pmpReverse .phModParticlesContent {
    padding: 0;
    padding-right: 2em;
}

/* General */

.phModParticlesIcon a,
.phModParticlesIcon a:hover,
.phModParticlesTitle,
.phModParticlesTitle a:hover,
.phModParticlesSvg,
.phModParticlesSvg a:hover {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
