/* Phoca Particles - Simple Button
 * @version 6.1.0
 */

.phModParticlesSimpleButton {
    text-align: center;
}

.phModParticlesSimpleButton .phModParticlesItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.phModParticlesSimpleButton .phModParticlesButtonBox {
    text-align: center;
    margin: 1em auto;
}

.phModParticlesSimpleButton .phModParticlesButton {
    text-decoration: none;
}

